<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FORMULARIO DE SOCIOS</title>
</head>
<body>
    <h1> Socio </h1>
    <form method="POST" action="">
        {% for field in form %}
            <div class="field_container">
                {{ field.errors }}
                {{ field.label_tag }} </br>
                {{ field }}
            </div>
            {% endfor %}
        {% csrf_token %} <br> <br>

        <button type="submit">GUARDAR</button>

    </form>
</body>
</html>